# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
/settings
.vscode/settings.json
.DS_Store
.bak
settings_private.talon
core/vocabulary/vocabulary.talon-list
node_modules/
core/system_paths-jwstout*
.generated_docs/
